<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>最新消息 - 管理介面</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id="warp">
        <div id="header">
            <div class="toplogin">
                {% block append %}{% endblock %}
                <a href="/logout/">
                    <img src="{% static 'images/LockOff.png' %}" alt="登出介面管理" width="32" height="32">
                </a>
            </div>
            <div class="logo">
                <img src="{% static 'images/DWonline.png' %}" alt="news" width="180" height="40">
            </div>
        </div>
        <div class="headings">
            <h2>最新消息 - 管理介面</h2>
        </div>
        {% block content %}{% endblock %}
        <div id="footer">&copy; Copyright 2022 eHappy Studio 新聞系統</div>
    </div>
</body>

</html>