<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show for loop</title>
    <style>
        h2 {
            color: red;
            font-size: 20px;
        }
    </style>
</head>

<body>
    {% for person in persons reversed %}
    <h1>第{{ forloop.counter }}位員工</h1>
    <ul>
        <li>{{ person.name }}</li>
        <li>{{ person.phone }}</li>
        <li>{{ person.age }}</li>
    </ul>
    {% empty %}
    <h2>沒有資料</h2>
    {% endfor %}
</body>

</html>