<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <div id="warp">
        <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td height="176" background="{% static 'images/g_r1_c3.png' %}">&nbsp;</td>
            </tr>
            <tr>
                <td background="{% static 'images/g_r3_c3.png' %}">
                    <div class="functionDiv">
                        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="right">
                                    <img src="{% static 'images/door_out.png' %}" width="16" height="16"
                                        align="absmiddle">
                                    <a href="/logout/">登出管理</a>
                                </td>
                            </tr>
                        </table>
                        <img src="{% static 'images/g_r9_c3.png' %}" width="600" height="20" border="0">
                    </div>
                    {% block content %}{% endblock %}
                    <div id="siteinfo"> Wanye 網站留言版 &nbsp; 版權所有 &copy; 2022&nbsp; Wayne GuestBook All Rights Reserved.
                    </div>
                </td>
            </tr>
</body>

</html>