{% extends "baseadmin.html" %}
{% load static %}

{% block script %}
  <script type="text/javascript">
    function confirmLink(message) {
      if(message == "") message = "確定";	
      	document.returnValue = confirm(message);
      }
  </script>
{% endblock %}

{% block content %}
  <div class="subjectDiv"> 網路相簿管理界面-修改相簿資訊</div>
    <div class="actionDiv">相片總數:{{totalphoto}} </div>
    <form action="/adminfix/{{album.id}}/999999/" method="POST" name="form1" id="form1" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="normalDiv">
        <p class="heading">相簿內容</p>
        <p>相簿名稱：
          <input name="album_title" type="text" id="album_title" value="{{album.atitle}}" />        
        </p>
        <p>拍攝地點：
          <input name="album_location" type="text" id="album_location" value="{{album.alocation}}" />
        </p>
        <p>相簿說明：
          <textarea name="album_desc" id="album_desc" cols="45" rows="5">{{album.adesc}}</textarea>
        </p>
      </div>
      <hr />
      <div class="normalDiv">
        <p class="heading">新增照片</p>
        <div class="clear"></div>
        <p>照片1
          <input type="file" name="ap_picurl1" id="ap_picurl1">
          標題1：
          <input type="text" name="ap_subject1" id="ap_subject1" /></p>
        <p>照片2
          <input type="file" name="ap_picurl2" id="ap_picurl2">
          標題2：                  
          <input type="text" name="ap_subject2" id="ap_subject2" /></p>
        <p>照片3
          <input type="file" name="ap_picurl3" id="ap_picurl3">
          標題3：                  
          <input type="text" name="ap_subject3" id="ap_subject3" /></p>
        <p>照片4
          <input type="file" name="ap_picurl4" id="ap_picurl4">
          標題4：                  
          <input type="text" name="ap_subject4" id="ap_subject4" /></p>
        <p>照片5
          <input type="file" name="ap_picurl5" id="ap_picurl5">
          標題5：                  
          <input type="text" name="ap_subject5" id="ap_subject5" /></p>
        <p>&nbsp;</p>
        <p>
          <input type="submit" name="button" id="button" value="更新及上傳資料" />
        </p>
      </div>
    </form>
    {{message}}
    <hr />
    <div class="normalDiv">
      <p class="heading">管理照片</p>
      {% for photo in photos %}
        <div class="albumDiv">
          <div class="picDiv"><img src="/media/{{photo.purl}}/" width="120" height="120" border="0" /></div>
          <div class="albuminfo">
            <form action="/adminfix/{{photo.palbum.id}}/{{photo.id}}/update/" method="POST" name="form3" id="form3">
              {% csrf_token %}
              <input name="ap_subject" type="text" id="ap_subject" value="{{photo.psubject}}" size="10" />
              <input type="submit" name="button3" id="button3" value="更新">
              <br>
              <a href="/adminfix/{{photo.palbum.id}}/{{photo.id}}/delete/" onClick="confirmLink('確定要刪除這張圖片嗎？'); return document.returnValue">刪除圖片</a>
            </form>
            <p><br />
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}